#pape main {
	width: 300px; /* Added a container for the group of canvases. */
}

#pape section {
	background-color: #353434; /* The black bands are our background. */
	height: 145px; /* Square canvases. */
	position: relative; /* The `clear` make a new stacking context, so this keeps order right. */
	width: 145px;
}



#pape section:not(:last-child) {
	margin-bottom: 10px; /* Space between the rows. */
}

#pape section:nth-child(1),
#pape section:nth-child(7) {
	margin-left: auto; /* Pushes these to the right. */
}

#pape section:nth-child(2),
#pape section:nth-child(5) {
	float: left; /* Allows the next one to sit alongside. */
}

#pape section:nth-child(3),
#pape section:nth-child(6) {
	float: right; /* Same, alongside to the right. */
}

#pape section:nth-child(4),
#pape section:nth-child(7) {
	clear: both; /* Clear the floats with a new line. */
}

#pape section:nth-child(4),
#pape section:nth-child(9) {
	margin-left: auto; /* Centered. */
	margin-right: auto;
}

#pape section:nth-child(8) {
	margin-right: auto; /* Pushed to the left. */
}



/* The blocks inside each canvas. */
#pape div {
	height: 100%;
	width: calc(50% - 5px); /* This is a new, `calc` let’s us do math! */
}

#pape div:first-child {
	float: left; /* Let them sit next to each other. */
}

#pape div:last-child {
	float: right; /* Alongside to the right. */
}



/* Introducing classes to easily apply across elements. */
#pape .horizontal div {
	height: calc(50% - 5px); /* With the class these are more specific. */
	width: 100%;
}

#pape .horizontal div:last-child {
	margin-top: 10px; /* Space above the bottom ones. */
}

#pape div:first-child,
#pape .red-first div:last-child {
	background-color: #dddbda; /* The white sections. */
}

#pape div:last-child,
#pape .red-first div:first-child {
		background-color: #b65525; /* The rusty red areas. */
}
