body {
	background-color: white;
	font-family: sans-serif;
	padding: 100px 24px; /* More on top/bottom, less on sides. */
}

em {
	font-style: italic; /* Restores italics, cleared by my reset. */
}

/* This seems like the right semantic element. */
figure {
	margin: 0 auto; /* Centered in the page. */
	width: 600px; /* The width is on the container now so the caption is also constrained. */
}

/* Space for the lower works. */
figure:not(:first-child) {
	margin-top: 200px;
}

/* This is the corresponding semantic caption element. */
figcaption {
	margin-top: 20px;
	color: rgba(0, 0, 0, 0.33); /* Semi-transparent black. */
}

section {
	/* There is only a shorthand for `box-shadow` and it is annoying to read! */
	box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.15);
}



/* Since I will have multiple, I added an ID to target my first work. */
#albers section {
	background-color: rgb(233, 233, 227); /* I used the “Digital Color Meter” on my Mac to get these exact values. */
	height: 600px; /* Square, with the height above. */
	padding: 18%; /* Even inset all-around. */
}

#albers section,
#albers div {
	border-radius: 2px; /* Make the corners less sharp. */
}

/* All the nested divs. */
#albers div {
	height: 100%; /* Fill the parent. This works since we have a declared height ancestor. */
	padding-bottom: 5%; /* Different inset on each side for the distinct downward look. */
	padding-left: 10%; /* And using a relative unit means I can share this for all the `div` levels. */
	padding-right: 10%;
	padding-top: 15%;
	width: 100%;
}

/* Just the first nested level. The ">" combinator is for immediate children. */
#albers section > div {
	background-color: rgb(169, 196, 224);
}

/* Second, and so on. */
#albers section > div > div {
	background-color: rgb(173, 172, 171);
}

#albers section > div > div > div {
	background-color: rgb(200, 181, 110);
}

/* I probably should have used classes, this is getting hard to read. */
#albers section > div > div > div > div {
	background-color: rgb(223, 186, 76);
}



/* Next work. */
#kelly section {
	height: 600px;
	/* This could be combined above, but I think it is easier to read with all the Kelly stuff in one place. */
}

/* All 64 children! */
#kelly div {
	background-color: rgb(244, 244, 240); /* Start with the white/neutral ones. */
	border-top: solid 1px rgba(255, 255, 255, 0.25); /* Little highlight on the top. */
	box-shadow: inset 0 -1px 2px rgba(0, 0, 0, 0.15); /* `inset` shadow for a slight edge on them. */
	float: left; /* So they will flow next to each other. */
	height: 12.5%; /* 1/8. */
	width: 12.5%;
}
