body {
	background-color: white;
	padding: 100px 24px;
}

figure {
	margin: 0 auto;
	width: 600px;
}

section {
	background-color: wheat;
	height: 600px;
	padding: 50px;
}

section > div {
	background-color: dodgerblue;
	padding: 50px;
}

section > div > div {
	background-color: gold;
}

div {
	height: 100%;
	width: 100%;
}
